Python == 3.9.11
catboost == 1.1.1
matplotlib == 3.5.2
matplotlib-inline == 0.1.6
numpy == 1.23.5
opencv-python == 4.7.0.72
openpyxl == 3.0.10
pandas == 1.4.4
pip == 23.2.1
plotly == 5.13.1
PubChemPy == 1.0.4
python-utils == 3.5.2
rdkit == 2022.9.3
scikit-learn == 1.2.1
scikit-optimize == 0.9.0
scipy == 1.10.1
seaborn == 0.11.2
shap == 0.41.0
sklearn == 0.0.post1
sympy == 1.11.1
xgboost == 1.7.3
